body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    margin-top: 20px;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #007bff;
}


.navbar-brand span {
    font-size: 1.25rem; /* Adjust font size of the title */
    color: #fff; /* Optional: Set color explicitly */
}

.navbar{
    background-color: #c0bebe;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-item {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    
}
#title {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 800;
    font-size: 80px;
    font-style: italic;
}
#content{
    background-color: #c0bebe;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#content-container{
    background-color: #F4866D;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
#title-container{
    background-color: #F4866D;
    position: relative;
    overflow: hidden;

}
.text-center{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-size: x-large;
    font-style: normal;
}
#footer{
    background-color: #c0bebe;
}
#footer p{
    font-size: 40px;
}

#content-container h1{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 800;
    font-size: x-large;
    font-style: normal;
    text-align: center;
}
#content-container li{
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-size: large;
    padding: 5px;
    font-style: normal;
}

#content-container ul li {
    list-style-type: none;
    position: relative;
    padding-left: 25px;
  }
  
#content-container ul li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/32/32213.png');
    background-size: cover;
}




